<div class="hemisquare right_side">

  <div class='field enable'>
    <p>
      <%= f.check_box :testimonials_show, {}, true, false  %>
      <%= f.label :testimonials_show, t('.show_on_page') %>
    </p>
  </div>

  <div class='fields'>
    <p>
      <%= f.label  :testimonials_count, t('.how_many') %>
      <%= f.number_field  :testimonials_count  %>
    </p>

    <p>Select Testimonals By  </p>
      <%= f.radio_button  :testimonials_select,  'Recent', :class=> 'button' %>
      <%= f.label :testimonials_select, t('.by_date'), :value=> 'Recent' %>
      <%= f.radio_button  :testimonials_select,  'Random', :class => 'button' %>
      <%= f.label :testimonials_select, t('.random'), :value => 'Random' %>
  </div>

</div>
